<header class='top-page-header'>
  <div class='header-contents'>
    <%= link_to image_tag("pelo-logo.png", class:"pelo-icon"), "/" %>
    <div class='pelo-name'>PeLO</div>
  </div>
  <ul class='lists-center'>
    <%if user_signed_in? %>
       <li><%= link_to current_user.user_name, "#", class: "user-name" %> </li> 
       <li><%= link_to 'ペット登録',  new_pet_path, class: "pet-register" %> </li> 
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li> 
    <% else %>
      <li><%= link_to 'ログイン',  new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>
</header>
