<%= render "shared/header" %>

<div class="index-main">
  <div class="pet-contents">

    <% if @pets.present? %>
      <% if @selected_pet %>
        <% if @selected_pet.image.attached? %>
          <%= image_tag @selected_pet.image, class:"pet-image" %>
        <% else %>
          <%= image_tag "pag.jpg", class:"pet-image" %>
        <% end %>
        <div class="pet-content">
          <div class="pet-name">
            <%= @selected_pet.petname %>
            <%= link_to '記録する',  new_log_path, class: "new-record" %>
          </div>
          <div class="pet-gender">
            <%= @selected_pet.gender.name %>
          </div>
          <div class="pet-birth">
            <%= "誕生日" %>
          </div>
          <div class="pet-birth-date">
            <%= @selected_pet.birthday %>
          </div>
        </div>
      <% end %>  
    <% else %>
      <%= image_tag "pag.jpg", class:"pet-image" %>
      <div class="pet-content">
        <div class="pet-name">
          <%= "お名前" %>
          <%= link_to '記録する',  "#", class: "new-record" %>
        </div>
        <div class="pet-gender">
          <%= "性別" %>
        </div>
        <div class="pet-birth">
          <%= "誕生日" %>
        </div>
        <div class="pet-birth-date">
          <%= "2023/06/13" %>
        </div>
      </div>
    <% end %>

    <% if @pets %>
      <%= form_tag logs_path, method: :get, class:"select-pets" do %>
        <%= select_tag :pet_id, options_from_collection_for_select(@pets, :id, :petname), class:"select-pet" %>
        <%= submit_tag "選択", class:"select-pet-btn" %>
      <% end %>
    <% end %>
  </div>

<% if @latest_logs %>
<% @latest_logs.each do |log| %>
  <div class="new-logs">
    <ul class="new-log">
      <li class="log-list">
        <%= "トイレ" %><br>
        <div class="log-content">
          <%= link_to log.toilet, toiletlog_logs_path(pet_id: log.pet_id), method: :get, class:"no-underline" %>
        </div>
        <div class="log-date">
          <%= log.created_at.strftime("%Y/%m/%d") %>
        </div>
      </li>

      <li class="log-list">
        <%= "ご飯" %><br>
        <div class="log-content">
          <%= log.meal %>
        </div>
        <div class="log-date">
          <%= log.created_at.strftime("%Y/%m/%d") %>
        </div>
      </li>

      <li class="log-list">
        <%= "元気" %><br>
        <div class="log-content">
          <%= log.mood.name %>
        </div>
        <div class="log-date">
          <%= log.created_at.strftime("%Y/%m/%d") %>
        </div>
      </li>

      <li class="log-list">
        <%= "散歩時間" %><br>
        <div class="log-content">
          <%= "#{log.walktime} H" %>
        </div>
        <div class="log-date">
          <%= log.created_at.strftime("%Y/%m/%d") %>
        </div>
      </li>

      <li class="log-list">
        <%= "体温" %><br>
        <div class="log-content">
          <%= "#{log.bodytemperature} ℃" %>
        </div>
        <div class="log-date">
          <%= log.created_at.strftime("%Y/%m/%d") %>
        </div>
      </li>

      <li class="log-list">
        <%= "体重" %><br>
        <div class="log-content">
          <%= link_to "#{log.weight} Kg", weightlog_logs_path(pet_id: log.pet_id), method: :get, class:"no-underline" %>
        </div>
        <div class="log-date">
          <%= log.created_at.strftime("%Y/%m/%d") %>
        </div>
      </li>

      <li class="log-list">
        <%= "体長" %><br>
        <div class="log-content">
          <%= log.length %>
        </div>
        <div class="log-date">
          <%= log.created_at.strftime("%Y/%m/%d") %>
        </div>
      </li>

      <li class="log-list">
        <%= "メモ" %><br>
        <div class="log-content">
          <%= log.memo %>
        </div>
        <div class="log-date">
          <%= log.created_at.strftime("%Y/%m/%d") %>
        </div>
      </li>

      <div class="edit">
        <%= link_to "記録を編集する", edit_log_path(log.id), method: :get, class:"edit-btn" %>
        <%= link_to "削除", log_path(log.id), method: :delete, class:"delete-btn" %>
      </div>
      <% end %>
      <% else %>
      <div class="new-logs">
    <ul class="new-log">
      <li class="log-list">
        <%= "トイレ" %><br>
        <div class="log-content">
          <%= "例）3回した、状態も良好" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "ご飯" %><br>
        <div class="log-content">
          <%= "例）3食きちんと食べた、食べ残しもない" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "元気" %><br>
        <div class="log-content">
          <%= "例）とても元気" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "散歩時間" %><br>
        <div class="log-content">
          <%= "例）3時間" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "体温" %><br>
        <div class="log-content">
          <%= "例）28度" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "体重" %><br>
        <div class="log-content">
          <%= "例）10キロ" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "体長" %><br>
        <div class="log-content">
          <%= "例）120センチ" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "メモ" %><br>
        <div class="log-content">
          <%= "例）今日も元気！" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>


