<%= render "shared/header" %>

<div class="index-main">
  <div class="pet-contents">

    <% if @pets.present? %>
      <% if @selected_pet %>
        <% if @selected_pet.image.attached? %>
          <%= image_tag @selected_pet.image, class:"pet-image" %>
        <% else %>
          <%= image_tag "pag.jpg", class:"pet-image" %>
        <% end %>
        <div class="pet-content">
          <div class="pet-name">
            <%= @selected_pet.petname %>
            <%= link_to '記録する',  new_log_path, class: "new-record" %>
          </div>
          <div class="pet-gender">
            <%= @selected_pet.gender.name %>
          </div>
          <div class="pet-birth">
            <%= "誕生日" %>
          </div>
          <div class="pet-birth-date">
            <%= @selected_pet.birthday %>
          </div>
        </div>
      <% end %>  
    <% else %>
      <%= image_tag "pag.jpg", class:"pet-image" %>
      <div class="pet-content">
        <div class="pet-name">
          <%= "お名前" %>
          <%= link_to '記録する',  "#", class: "new-record" %>
        </div>
        <div class="pet-gender">
          <%= "性別" %>
        </div>
        <div class="pet-birth">
          <%= "誕生日" %>
        </div>
        <div class="pet-birth-date">
          <%= "2023/06/13" %>
        </div>
      </div>
    <% end %>

    <% if @pets %>
      <%= form_tag logs_path, method: :get, class:"select-pets" do %>
        <%= select_tag :pet_id, options_from_collection_for_select(@pets, :id, :petname), class:"select-pet" %>
        <%= submit_tag "選択", class:"select-pet-btn" %>
      <% end %>
    <% end %>
  </div>

  <div class="new-logs">
    <ul class="new-log">
      <li class="log-list">
        <%= "トイレ" %><br>
        <div class="log-content">
          <%= "例）何回行った&状態はどうだったか" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>


      <li class="log-list">
        <%= "ご飯" %><br>
        <div class="log-content">
          <%= "例）何食食べたか、全部食べたか" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "元気" %><br>
        <div class="log-content">
          <%= "例）とても元気" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "散歩時間" %><br>
        <div class="log-content">
          <%= "例）何回・何時間行ったか" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "体温" %><br>
        <div class="log-content">
          <%= "例）38℃" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "体重" %><br>
        <div class="log-content">
          <%= "例）10kg" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "体長" %><br>
        <div class="log-content">
          <%= "例）95cm" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <li class="log-list">
        <%= "メモ" %><br>
        <div class="log-content">
          <%= "例）記録に残しておきたい事" %>
        </div>
        <div class="log-date">
          <%= "2023/06/13" %>
        </div>
      </li>

      <div class="edit">
        <%= link_to "記録を編集する", "#", class:"edit-btn" %>
        <%= link_to "削除", "#", class:"delete-btn" %>
      </div>
    </ul>
  </div>
</div>


